@model MovieMvcProject.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

@*<div class="Details">
    <div class="Image-details">
        <img src="~/images/@Html.DisplayFor(model =>Model.ImagePath)" class="Image-detail"/>
        </div>
        <div class="movie-detail">
            @Html.ActionLink(Model.Name, "Details", new { id = Model.MovieId })
        </div>
    </div>*@
<div class="container">
    <div class="row">
        <div class="span5">
            <img src="~/images/@Html.DisplayFor(model =>Model.ImagePath)" style="width:252px; float:left;">
        </div>
        <div class="span7">
            <h2>@Html.ActionLink(Model.Name, "Details", new { id = Model.MovieId })</h2>
            <h4 class="muted"><b>Director Name:</b> @Html.DisplayFor(model => model.DirectorName)</h4>
            <p><h4><b>Description:</b> @Html.DisplayFor(model => model.Description) </h4></p>
            <hr>
            <h3>Genre : @Html.ActionLink(Model.Genre.Name, "Index", "Movies", new { genreid = Model.GenreId }, null)</h3>
           
        </div>
    </div>
  </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MovieId }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.MovieId }) |
        @Html.ActionLink("Back to List", "AllMovies")
    </p>
